html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
}


.titulo {
    text-align: center;
    background-color: rgb(255, 0, 0);
    font-size: 50px;
    color: aliceblue;
    font-weight: 700;
}

.recetas {
    text-align: justify;
    font-size: 24px;

}

.lrecetas{
    width: 200px;
    height: auto;
    
}

.libro{
    display: block;
    margin: auto;
    text-align: center;
    
    }

    .lista{
        text-align: center;
        color: aliceblue;
        letter-spacing: normal;
        word-spacing: normal;

    }



    
